body {
    width: 100%;
    height: 100%;
    position: absolute;
}

.header-bar .brand-logo {
    margin-left: 20px;
    font-weight: lighter;
}
.header-bar .mobile-nav-button {
    margin-left: 10px;
}

.main {
    margin-top: 15px;
    z-index: 1;
}

.modal {
    z-index: 999999;
}

.planning-elements .element:hover {
    background: rgba(158, 158, 158, .1) !important; /* blue-grey lighten-5 */
}

.planning-elements .controls .control-padding {
    padding: 0 5px !important;
    margin-bottom: 5px;
    word-break: break-all;
}

.week-day-content {
    border: 1px solid #d0d0d0;
    padding: 0!important;
}

.week-day td.col {
    float: inherit !important;
}

.week-day .today {
    background: #90caf9;
    font-weight: bold;
}
.week-day-date {
    text-align: center;
}
.week-day-element {
    border: 1px solid #d0d0d0;
    padding: 5px;
}

.footer-modal .logo {
    text-align: center;
}

.select-container .collapsible-content {
    padding: 10px !important;
}

.loading {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 200;
    background-color: rgba(255,255,255,.8);
}
.loading .preloader-wrapper {
    margin: auto;
}